<%- include("partials/header"); -%>
<link rel="stylesheet" href="/app.css">
<div class="container">

    <body>
        <div class="jumbotron">
            <p>
                Photo Gallary
                <form action="/" method="post">
                    <input type="text" name="address" placeholder="image address">
                    <button>registor</button>
                </form>
            </p>
        </div>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% registeredImages.forEach(function(image){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img class="topImg" src="<%= image.address %>">
                    <p>
                        <a href="detail/<%= image._id %>" class="btn btn-primary">Detail</a>
                    </p>
                </div>
            </div>
            <% }); %>
        </div>
    </body>
</div>