<%- include("partials/header"); -%>
<link rel="stylesheet" href="/app.css">
<div class="leftMargin">
    <div class="thumbnail" style="margin: 100px">
        <img class="detailImg" src="<%= image.address %>">
    </div>
    <form action="/detail/<%= image._id %>/comments/new" method="GET">
        <button>Add Comment</button>
    </form>

    <% image.comments.forEach((comment) => { %>
    <div class="card quoterSize topMargin">
        <div class="card-body">
            <p class="card-text"><%= comment.comment %></p>
        </div>
    </div>
    <% }) %>
</div>