<div class="horizontalFlex verticalFlex">
    <% postContents.forEach((content) => { %>
    <div class="card postSize">
        <div class="card-body">
            <%= content.content %>
        </div>
    </div>
    <% }); %>
</div>