<link rel="stylesheet" href="home.css">

<body>
    <div class="design horizontalFlex withCenter">
        <%- include("left_column") -%>
        <div class="centerColDesign">
            <%- include("post") -%>
            <%- include("feed") -%>
        </div>
        <%- include("right_column") -%>
    </div>
</body>