<link rel="stylesheet" href="home.css">

<body class="parent">
    <div class="horizontalFlex withCenter">
        <div>
            <%- include("left_column") -%>
        </div>
        <div>
            <%- include("post") -%>
            <%- include("feed") -%>
        </div>
    </div>
</body>