<div class="card colSize">
    <div class="card-body">
        <div class="card-title">
            <h5>Head</h5>
        </div>
        <div class="card-text">
            <p>This is the sample texts.</p>
        </div>
    </div>
</div>