
<link rel="stylesheet" href="home.css">

<h1>login</h1>
<p>
    <a href="register">Sign in</a>
</p>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Log in</button>
</form>