<%- include("partials/header") -%>
<link rel="stylesheet" href="home.css">
<div class="card postSize">
    <div class="card-body horizontalFlex">
        <img class="floatLeft" src="https://img.icons8.com/color/48/000000/user-male.png">
        <div class="verticalFlex">
            <input type="text">
            <button class="horizontalFlexEnd">post</button>
        </div>
    </div>

</div>