<!-- check how to fix -->
<div class="card postSize">
    <div class="card-body horizontalFlex">
        <img class="floatLeft" src="https://img.icons8.com/color/48/000000/user-male.png">
        <form class="verticalFlex" action="/" method="post">
            <input type="text" name="postContent">
            <button class="horizontalFlexEnd">post</button>
        </form>
    </div>
</div>
